{{#partial "content"}}
    {{#if animals}}
        <h2>Sight Animal</h2>
        <form action="/animal/new" class="form form-dark" method="POST">
            <div class="md-form">
                <label id="ranger_name" for="ranger_name">Ranger</label>
                <select class="form-control" name="ranger_id" id="ranger_id" required>
                    {{#each rangers}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="md-form">
                <div class="md-form">
                    <label id="animal_name" for="animal_name">Animal</label>
                    <input type="text" id="animal_name" name="animal_name" class="form-control">
                </div>
            </div>
            <div class="md-form">
                <label id="location" for="location">Location</label>
                <select class="form-control" name="location" id="location" required>
                    {{#each locations}}
                        <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {{else}}
        <h2>Sight Endangered Animal</h2>
        <form action="/endAnimal/new" class="form form-dark" method="POST">
            <div class="md-form">
                <label id="ranger_name" for="ranger_name">Ranger</label>
                <select class="form-control" name="ranger_id" id="ranger_id" required>
                    {{#each rangers}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="md-form">
                <label  for="animal_name">Animal</label>
                <input type="text" id="animal_name" name="animal_name" class="form-control">
            </div>
                        <div class="md-form">
                            <label  for="age">Age</label>
                            <select id='age' class="form-control" name='age'>
                                <option value="" disabled selected>Select Age</option>
                                <option value="{{Adult}}">Adult</option>
                                <option value="{{Young}}">Young</option>
                                <option value="{{Newborn}}">Newborn</option>
                            </select>
                        </div>
                        <div class="md-form">
                            <label for="Age">Health</label>
                            <select class='form-control' id="health" name='health'>
                                <option class="text-grey" value="" disabled selected>Select Health</option>
                                <option value="{{Healthy}}">Healthy</option>
                                <option value="{{Okay}}">Average</option>
                                <option value="{{Ill}}">Ill</option>
                            </select>
                        </div>
            <div class="md-form">
                <label id="location" for="location">Location</label>
                <select class="form-control" name="location" id="location" required>
                    {{#each locations}}
                        <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    {{/if}}
{{/partial}}
{{>layout.hbs}}